@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #1f1f1f;
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.skip-link {
    position: absolute;
    transform: translate(0, -100%);
    left: 0;
    background-color: #ff6600;
    color: white;
    padding: 0.75rem 2rem;
    text-decoration: none;
    z-index: 100;
    border: 0;
    border-radius: 0 0 16px 0;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.skip-link:focus {
    transform: translate(0, 0);
    outline: none;
}

.square {
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.square>* {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.burger {
    padding: 1rem;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.burger svg {
    width: 1.5rem;
}

app-bar {
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

header .nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    width: 280px;
    min-height: 100vh;
    flex-direction: column;
    transform: translate(-100%, 0);
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.25);
}

header nav.active {
    visibility: visible;
    opacity: 1;
}

header nav.active .nav {
    transform: translate(0, 0);
}

header nav {
    visibility: hidden;
    opacity: 0;
    z-index: 99;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    transition-property: visibility, opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.logo {
    padding: 0.75rem 1.5rem;
    display: flex;
    align-items: center;
}

.logo img {
    width: 148px;
}

.nav-item {
    z-index: 999;
    padding: 1.25rem 1.5rem;
    display: block;
    text-decoration: none;
    font-weight: 600;
    position: relative;
}

.nav-item::after {
    z-index: -1;
    content: '';
    height: 6px;
    position: absolute;
    left: 50%;
    width: 0;
    bottom: 0;
    background-color: #ff6600;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.nav-item.active::after,
.nav-item:hover::after {
    z-index: -1;
    content: '';
    height: 6px;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
    background-color: #ff6600;
}

.container {
    max-width: 1024px;
    margin: auto;
}

#hero {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url('/images/heros/hero-image_2.jpg');
    background-size: cover;
    z-index: -99;
}

#hero .container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

#hero .left {
    padding: 10rem 1rem;
    flex: 0.5;
    width: 100%;
}

#hero .right {
    display: flex;
    justify-content: flex-end;
}

#hero h1,
#hero h1 * {
    font-size: 48px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 2rem;
    line-height: 60px;
    color: white;
}

#hero a {
    text-decoration: none;
    padding: 0.75rem 2rem;
    background-color: #ff6600;
    border-radius: 999px;
    font-size: 18px;
    color: white;
    display: inline-block;
    box-shadow: 0 8px 16px rgba(255, 102, 0, 0.25);
    transition-property: background-color, box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

#hero a:hover {
    box-shadow: 0 6px 12px rgba(255, 102, 0, 0.5);
    background-color: #ed5f00;
}

.underline {
    z-index: 0;
    position: relative;
}

.underline::after {
    z-index: -1;
    content: '';
    height: 12px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff6600;
}

.down {
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
}

.down svg {
    width: 2rem;
    animation: bounce 1s infinite;
}

.mobile-down {
    display: flex;
    align-items: center;
    flex: 1;
    transform: translate(2rem, 0);
}

.desktop-down {
    display: none;
}

#restaurants {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#restaurants h2 {
    margin: 0;
    text-align: center;
    position: relative;
    margin-bottom: 2rem;
    font-weight: 600;
}

#restaurants h2::after {
    z-index: -1;
    content: '';
    height: 12px;
    position: absolute;
    left: 0;
    width: 128px;
    bottom: 0;
    background-color: #ff6600;
}

.restaurants-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem;
}

.restaurants-wrapper .empty-list {
    grid-column: span 3;
}

.restaurant-item {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.restaurant-item .img-wrapper {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.restaurant-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
}

.restaurant-item:hover img {
    transform: scale(1.05);
}

.restaurant-info {
    padding: 1rem;
}

.restaurant-info p {
    font-size: 12px;
    color: #3d3d3d;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 4px;
}

.additional-info {
    display: flex;
}

.rating,
.location {
    font-size: 12px;
    display: flex;
    align-items: center;
    color: #3d3d3d;
    margin-right: 1rem;
}

.rating svg,
.location svg {
    width: 1rem;
    margin-right: 0.25rem;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer {
    padding: 2rem 1rem;
    text-align: center;
    font-size: 14px;
}

.restaurant-detail {
    background-color: #F3F4F6;
}

.restaurant-detail .container {
    padding: 1rem;
}

.restaurant-detail-card {
    background-color: white;
    padding: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    border-radius: 1rem;
}

.restaurant-detail-head {
    display: flex;
    flex-direction: column;
}

.restaurant-detail-img {
    width: 100%;
}

.restaurant-detail-img img {
    width: 100%;
    border-radius: 0.5rem;
}

.restaurant-detail-info {
    flex: 1;
}

.restaurant-detail-categories {
    display: flex;
    list-style: none;
    padding: 0;
}

.restaurant-detail-categories>* {
    padding: 0.25rem 0.75rem;
    margin-right: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    background-color: #ff6600;
    color: white;
    border-radius: 99px;
}

.mb-4 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.label {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
}

.menus {
    display: flex;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
}

.menus>* {
    padding: 0.25rem 0.75rem;
    margin: 0 0.5rem 0.5rem 0;
    border: 1px solid #ff6600;
    border-radius: 99rem;
}

.reviews {
    list-style: none;
    padding: 0;
}

.reviews>* {
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #D1D5DB;
}

.reviews .name {
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.reviews .date {
    font-size: 0.75rem;
    line-height: 1rem;
    color: #6B7280;
    margin-bottom: 0.5rem;
}

.btn-favorite {
    background-color: #ff6600;
    color: white;
    border: 0;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 0.5rem 1.25rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    display: flex;
    align-items: center;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.btn-favorite:hover,
.btn-favorite:focus {
    background-color: #ed5f00;
}

.btn-favorite svg {
    margin-right: 0.5rem;
    width: 1.5rem;
}

.empty-list {
    width: 100%;
    text-align: center;
    font-style: italic;
}

.input {
    width: 100%;
    display: block;
    border-radius: 0.5rem;
    border: 1px solid #6B7280;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
}

.input:focus {
    outline: none;
}

.btn-review {
    background-color: #ff6600;
    color: white;
    border: 0;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 0.5rem 1.25rem;
    font-size: 1rem;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    margin-left: auto;
    display: block;
}

.btn-review:hover,
.btn-review:focus {
    background-color: #ed5f00;
}

.skeleton {
    display: block;
    position: relative;
    overflow: hidden;
    background-color: #dddbdd;
    border-radius: 0.5rem;
}

.skeleton::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0.2) 20%,
        rgba(255, 255, 255, 0.5) 60%,
        rgba(255, 255, 255, 0)
    );
    animation: shimmer 1s infinite;
    content: "";
}
